body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
}


/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.brand {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 50px;
}

/* Links */
a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Vertical alignment */

.fixed-60px {
  height: 60px;
}

.valign {
  float: none;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.valign-helper {
  display: inline-block;
  vertical-align: middle;
  height:100%;
}

/* ==========================================================================
   Charts
   ========================================================================== */

.legend-wrap {
  margin: 20px auto;
}

.legend {
  padding: 8px;
  color: white;
}

.dark {
  color: black !important;
}

.red { fill: #C22121; background-color: #C22121; }
.green { fill: #047878; background-color: #047878; }
.lightgreen { fill: #78AA00; background-color: #78AA00; }
.yellow { fill: #FFB733; background-color: #FFB733; }
.orange { fill: #F57336; background-color: #F57336; }
.blue { fill: #003056; background-color: #003056; }
.gray { fill: rgb(238,238,238); background-color: rgb(238,238,238); }

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* ==========================================================================
   Font Awesome
   ========================================================================== */

.fa-pointer {
  cursor: pointer;
}

.icon-pad-right {
  padding-right: 5px;
}

.white {
  color: white;
}

/* ==========================================================================
   Tables
   ========================================================================== */

.ellipsis {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ */
  -o-text-overflow: ellipsis;  /* for Opera 9 & 10 */
}

/* ==========================================================================
   Forms
   ========================================================================== */

.btn {
  border-radius: 0px;
}

.btn-fixed {
  min-width: 5em;
}

.btn-stub {
  min-width: 3em;
}

.btn-mailing {
  margin: 0px 0px !important;
}

/* ==========================================================================
   Query
   ========================================================================== */

.btn-typeahead {
  line-height: 20px;
}

.typeahead {
  background-color: #fff;
  width: 600px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.typeahead:focus {
  border: 1px solid #777;
}

.twitter-typeahead, .tt-hint {
  width: 100%;
}

.query-view .tt-dropdown-menu {
  width: 100%;
  text-align: left;
}

.query-view .tt-suggestions {
  background-color: #ffffff;
  border: solid #ccc 1px;
}

.query-view .tt-suggestion {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}

.query-view .tt-suggestion:hover {
  background-color: #ccc;
}

.query-view .empty-message {
  padding: 10px 12px;
  background-color: #ffffff;
  border: solid #ccc 1px;
}

.query-view a {
  padding-left: 0px;
  margin-left: 0px;
}

/* ==========================================================================
   Nav
   ========================================================================== */

.navbar-nav > li > a {
  line-height: 30px;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.bg-weave {
  background-image: url('../images/bg/whitey.png');
  height: 100%;
}

.hero {
  height: 100%;
  padding-top: 50px;
}

.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 25px;
  font-size: 70px;
}

.hero h3 {
  font-size: 30px;
}

.hero h5 {
  color: white;
}

.hero p {
  text-align: left;
  color: white
}

.hero-content {
  padding: 15% 0px;
  min-width: 700px;
}

.hero-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  top: 50%;
  outline: none;
  cursor: pointer;
  margin-top: -20px;
}

.hero-arrow-left {
  left: 20px;
}

.hero-arrow-right {
  right: 20px;
}

.hero-caption {
  position: absolute;
  background-color: rgba(60,60,60,0.8);
  color: #FFF;
  right: 20px;
  display: block;
  padding: 5px 7px;
  z-index: 1;
  bottom: 100px;
  outline: none;
  cursor: pointer;
}

.query-area form {
  background: rgba(60,60,60,0.8);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*border: 1px solid rgba(0,0,0,0.8);*/
  padding: 4px;
  line-height: 1.2;
  display: inline-block;
}

/* ==========================================================================
   Intro
   ========================================================================== */

#featureswrap {
  padding-top: 50px;
}

#howtowrap {
  padding-top: 20px;
  padding-bottom: 50px;
}

#howtowrap .ac a{
  font-size: 20px;
}

/* Search Wrap */

#search {
  height: 60px;
  background-color: #f2f2f2;
}

#search .pull-right {
  line-height: 60px;
  float: right;
  padding-right: 10px;
}

/* Filter bar wrap */

#filter-bar {
  height: 50px;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#filter-bar .right {
  line-height: 50px;
  float: right;
  padding-left: 10px;
}

/* Showcase Wrap */

#showcase {
  display: block;
  background-color: #34495e;
  padding-top: 50px;
  padding-bottom: 50px;
}

#showcase h1 {
  color: white;
}

#footerwrap {
  background-color: #2f2f2f;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: left;
}

#footerwrap h3 {
  font-size: 28px;
  color: white;
}

#footerwrap p {
  color: white;
  font-size: 18px;
}

/* Loading Wrap */

#spinner {
  background: #f2f2f2;
  padding: 20px inherit;
  margin: 20px inherit;
  text-align: center;
}

/* Copyright Wrap */

#c {
  background: #222222;
  padding-top: 15px;
  text-align: center;
}

#c p {
  color: white
}

#c a {
  color: #999999;
}
