<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sieve - Search Engine for Listed Company Filings</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- App View -->
  <script type="text/x-handlebars-template" id="appView">
    <div class="content-view"></div>
    <div class="footer-view"></div>
  </script>

  <!-- Top Bar View -->
  <script type="text/x-handlebars-template" id="topBarView">
    // search query
  </script>

  <!-- Chart View -->
  <script type="text/x-handlebars-template" id="chartView">
    // chart view
  </script>

  <!-- Company View -->
  <script type="text/x-handlebars-template" id="companyView">
    <div id="search">
      <a href="#"><img class="valign brand" src="images/logo-small-v1.png"></a>
      <div class="valign query-view"></div>
      <div class="valign pull-right"><button class="btn btn-default btn-fixed inner"><i class="fa fa-cog fa-lg"></i></button></div>
      <div class="valign pull-right"><button class="btn btn-default btn-fixed inner"><i class="fa fa-mail-forward fa-lg"></i></button></div>
      <div class="valign-helper"></div>
    </div>

    <div id="app-content" class="container">
      <div>
        <h3>{{ company.full_name }} ({{ company.ticker }})</h3>
        <a href="{{ company.website }}">{{ company.website }}</a>

        <div id="filter-bar">
          <span class="valign right">{{ documentLoader.total }} documents. Last updated on {{ company.last_updated }}.</span>
          <span class="valign-helper"></span>
        </div>

        <table class="table filings-table">
          <thead>
            <tr>
              <th class="col-md-1">Date <i ng-click=toggleSort('date') class="fa fa-sort fa-pointer"></i></th>
              <th class="col-md-3">Category <i ng-click=toggleSort('cat__name') class="fa fa-sort fa-pointer"></i></th>
              <th class="col-md-5">Document <i ng-click=toggleSort('description') class="fa fa-sort fa-pointer"></i></th>
              <th class="col-md-1 text-right">Size <i ng-click=toggleSort('size') class="fa fa-sort fa-pointer"></i></th>
              <th class="col-md-1 text-right">Type <i ng-click=toggleSort('filetype') class="fa fa-sort fa-pointer"></i></th>
            </tr>
          </thead>
          <div infinite-scroll='data.documentLoader.nextPage()' infinite-scroll-disabled='data.documentLoader.busy'>
            <tbody>
              {{#each docs}}
              <tr>
                <td class="ellipsis">{{ this.attributes.date }}</td>
                <td class="ellipsis">{{ this.attributes.cat.name }}</td>
                <td class="ellipsis"><a href="{{ this.attributes.url }}" target="_blank">{{ this.attributes.description }}</a></td>
                <td class="text-right">{{ this.attributes.size }}</td>
                <td class="text-right">{{ this.attributes.filetype }}</td>
              </tr>
              {{/each}}
            </tbody>
          </div>
        </table>
        <div class="clearfix"></div>
        <div id="loading" ng-show='data.documentLoader.busy'><i class="fa fa-refresh fa-lg fa-spin"></i></div>
        <br>
        <br>
      </div>
      <div>
        <h3>Ticker {{data.ticker}} does not exist. Possible reasons:</h3>
        <p>
          No such ticker. Sieve supports all HKSE filings.<br>
          We messed up! Please email contact@sieve.io with feedback.
        </p>
      </div>
    </div>
  </script>

  <!-- Query View -->
  <script type="text/x-handlebars-template" id="queryView">
    <form class="query-form form-inline" role="form">
      <div class="form-group">
        <input class="typeahead" type="text" placeholder="Enter ticker or company name.. (click or press / to focus)" />
      </div>
      <button class="btn btn-typeahead btn-fixed" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </script>

  <script type="text/x-handlebars-template" id="queryViewEmpty">
    <div class="empty-message">Nothing found</div>
  </script>

  <script type="text/x-handlebars-template" id="queryViewSuggestion">
    <a href="/{{ticker}}"><span class="suggestion"><strong>{{ticker}}</strong> – {{short_name}}</span></a>
  </script>

  <!-- Landing View -->
  <script type="text/x-handlebars-template" id="landingView">
    <div class="hero">
      <div class="container centered">
        <img src="images/logo-v1.png"></img>
        <h1>SIEVE</h1>
        <h3>A search engine for listed company filings.</h3>
        <br>
      </div>
    </div>
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <!-- endbuild -->

  <script>
    window.server = 'http://jyek.cloudapp.net:3002/api/v1/';

    // load templates
    window.Templates = {};
    $('[type="text/x-handlebars-template"]').each(function(index, div){
      Templates[div.id] = Handlebars.compile(div.innerHTML);
    });

    $(function(){
      new Sieve();
    });
  </script>

  <!-- build:js({.tmp,app}) scripts/main.js -->
  <script src="scripts/helpers.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/routes/router.js"></script>
  <script src="scripts/models/company.js"></script>
  <script src="scripts/models/document.js"></script>
  <script src="scripts/collections/companies.js"></script>
  <script src="scripts/collections/documents.js"></script>
  <script src="scripts/views/footer.js"></script>
  <script src="scripts/views/query.js"></script>
  <script src="scripts/views/company.js"></script>
  <script src="scripts/views/landing.js"></script>
  <!-- endbuild -->

</body>
</html>
