<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sieve - Search Engine for HKSE Listed Companies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,400,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- App View -->
  <script type="text/x-handlebars-template" id="appView">
    <div class="content-view"></div>
    <div class="footer-view centered"></div>
  </script>

  <!-- Top Bar View -->
  <script type="text/x-handlebars-template" id="headerView">
    <div id="search">
      <a href="#"><img class="valign brand" src="images/logo-small-v1.png"></a>
      <div class="valign query-view"></div>
      <div class="valign pull-right"><button class="chart-mode btn btn-default btn-fixed inner"><i class="fa fa-bar-chart-o fa-lg"></i></button></div>
      <div class="valign pull-right"><button class="list-mode btn btn-default btn-fixed inner"><i class="fa fa-table fa-lg"></i></button></div>
      <div class="valign-helper"></div>
    </div>
  </script>

  <!-- Chart View -->
  <script type="text/x-handlebars-template" id="chartView">
    <div class="container">
      <div>
        <h3><strong>{{ company.full_name }} ({{ company.ticker }})</strong></h3>
      </div>
    </div>
    <div class="metrics-wrap container"></div>
    <div class="clearfix"></div>
    <div class="legend-wrap container">
      <div class="legend-header">Legend:</div>
      <span class="legend red">Profit Warning</span>
      <span class="legend pink">Positive Profit Alert</span>
      <span class="legend darkgray">Financial Report</span>
      <span class="legend yellow">Dividend</span>
      <span class="legend green">Major Acquisition</span>
      <span class="legend lightgreen">Minor Acquisition</span>
      <span class="legend orange">Share Buyback</span>
      <span class="legend blue">Capital Raising / IPO</span>
      <span class="legend purple">Trading Halt</span>
      <span class="legend lightblue">Trading Resumption</span>
      <span class="legend dark gray">Other</span>
    </div>
    <div class="chart-wrap container">
      <div class="annotation" style="display:none"></div>
      <svg class="chart"></svg>
    </div>
  </script>

  <!-- Metrics View -->
  <script type="text/x-handlebars-template" id="metricsView">
    <div><h3>
      <span class="small">Price: </span> HK${{ LastTradePriceOnly }}
      <span class="small" style="padding-left: 10px">Last Change:</span> {{ Change }} ({{ ChangeinPercent }})
    </h3></div>
    <hr>
    <div class="col-md-2">Volume:</div>
    <div class="col-md-4">{{ addCommas Volume }}</div>
    <div class="col-md-2">Price/LTM Earnings:</div>
    <div class="col-md-4">{{ formatMultiple PERatio }}</div>
    <div class="col-md-2">Market Cap:</div>
    <div class="col-md-4">HK${{ MarketCapitalization }}</div>
    <div class="col-md-2">Price/Book:</div>
    <div class="col-md-4">{{ formatMultiple PriceBook }}</div>
  </script>

  <!-- Company View -->
  <script type="text/x-handlebars-template" id="companyView">
    <div class="container">
      <div>
        <h3><strong>{{ company.full_name }} ({{ company.ticker }})</strong></h3>
        <a href="{{ company.website }}">{{ company.website }}</a>
      </div>

      <div id="filter-bar">
        <button class="prev btn btn-default btn-stub"><i class="fa fa-angle-left fa-lg"></i></button>
        <button class="next btn btn-default btn-stub"><i class="fa fa-angle-right fa-lg"></i></button>
        <span class="valign right">{{ add meta.offset 1 }}-{{ add meta.offset meta.limit }}  of {{ addCommas meta.total_count }} documents. Last updated on {{ formatDate company.last_updated }}.</span>
        <span class="valign-helper"></span>
      </div>

      <table class="table filings-table">
        <thead>
          <tr>
            <th class="col-md-1">Date <i ng-click=toggleSort('date') class="fa fa-sort fa-pointer"></i></th>
            <th class="col-md-3">Category <i ng-click=toggleSort('cat__name') class="fa fa-sort fa-pointer"></i></th>
            <th class="col-md-5">Document <i ng-click=toggleSort('description') class="fa fa-sort fa-pointer"></i></th>
            <th class="col-md-1 text-right">Size <i ng-click=toggleSort('size') class="fa fa-sort fa-pointer"></i></th>
            <th class="col-md-1 text-right">Type <i ng-click=toggleSort('filetype') class="fa fa-sort fa-pointer"></i></th>
          </tr>
        </thead>
        <tbody>
          {{#each docs}}
          <tr>
            <td class="ellipsis">{{ formatDate this.attributes.date }}</td>
            <td class="ellipsis">{{ this.attributes.cat.name }}</td>
            <td class="ellipsis"><a href="{{ this.attributes.url }}" target="_blank">{{ this.attributes.description }}</a></td>
            <td class="text-right">{{ formatSize this.attributes.size }}</td>
            <td class="text-right">{{ this.attributes.filetype }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </script>

  <script type="text/x-handlebars-template" id="notFoundView">
    <div class="container">
      <div>
        <h3>Ticker {{ticker}} does not exist. Possible reasons:</h3>
        <p>
          1. No such ticker. We only support HKSE filings at the moment.<br>
          2. We messed up! Please email justinyek@gmail.com with feedback.
        </p>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars-template" id="spinnerView">
      <div id="spinner">
        <div class="spinner-text centered">INITIATING...</div>
        <i class="fa fa-filter fa-3x fa-spin"></i>
      </div>
  </script>

  <!-- Query View -->
  <script type="text/x-handlebars-template" id="queryView">
    <form class="query-form form-inline valign" role="form">
      <div class="form-group">
        <input class="typeahead" name="companies" type="text" placeholder="Enter ticker... (e.g. 0001.HK)" />
      </div>
      <button class="btn btn-typeahead btn-fixed" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </script>

  <script type="text/x-handlebars-template" id="queryViewEmpty">
    <div class="empty-message">Nothing found</div>
  </script>

  <script type="text/x-handlebars-template" id="queryViewSuggestion">
    <a href="/{{ticker}}"><span class="suggestion"><strong>{{ticker}}</strong> – {{short_name}}</span></a>
  </script>

  <!-- Landing View -->
  <script type="text/x-handlebars-template" id="landingView">
    <div class="github-fork-ribbon-wrapper right" style="pointer-events: none;">
      <div class="github-fork-ribbon">
        <a href="http://www.hackreactor.com" target="_blank" style="pointer-events: all;">Made at Hack Reactor</a>
      </div>
    </div>
    <div class="hero">
      <div class="container centered">
        <img src="images/logo-v1.png"></img>
        <h1>SIEVE</h1>
        <h3>A search engine for HKSE listed companies</h3>
        <br>
      </div>
    </div>
    <div class="query-wrap centered"></div>
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <!-- endbuild -->

  <script>
    window.server = 'http://jyek.cloudapp.net:3002/api/v1/';

    // load templates
    window.Templates = {};
    $('[type="text/x-handlebars-template"]').each(function(index, div){
      Templates[div.id] = Handlebars.compile(div.innerHTML);
    });

    $(function(){
      new Sieve();
    });
  </script>

  <!-- build:js({.tmp,app}) scripts/main.js -->
  <script src="scripts/helpers.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/routes/router.js"></script>
  <script src="scripts/models/company.js"></script>
  <script src="scripts/models/document.js"></script>
  <script src="scripts/collections/yahoo.js"></script>
  <script src="scripts/collections/companies.js"></script>
  <script src="scripts/collections/documents.js"></script>
  <script src="scripts/collections/prices.js"></script>
  <script src="scripts/views/header.js"></script>
  <script src="scripts/views/chart.js"></script>
  <script src="scripts/views/footer.js"></script>
  <script src="scripts/views/query.js"></script>
  <script src="scripts/views/company.js"></script>
  <script src="scripts/views/landing.js"></script>
  <!-- endbuild -->

</body>
</html>
